@import b3.vertical.fieldConstructor

@(currentUserOpt: Option[User], signUpForm: Form[SignUp])(implicit messages: Messages, flash: Flash, request: RequestHeader)

@main(Messages("SignUp"), currentUserOpt) {

   <div class="row">
       <div class="col-xs-offset-3 col-xs-6">
           <div class="panel panel-default">
               <div class="panel-heading">@Messages("MemberRegister")</div>
               <div class="panel-body">
                   @signUpForm.globalError.map { error =>
                       <div class="alert alert-warning" role="alert">
                           @error.message
                       </div>
                   }
                   @b3.formCSRF(routes.SignUpController.register()) {
                       @b3.text(signUpForm("name"), '_label -> "Name", 'placeholder -> "Name")
                       @b3.email(signUpForm("email"), '_label -> "Email", 'placeholder -> "example@mail.com")
                       @b3.password(signUpForm("password"), '_label -> "Password", 'placeholder -> "Password")
                       @b3.password(signUpForm("confirm"), '_label -> "Confirm", 'placeholder -> "Confirm")
                       @b3.submit('class -> "btn btn-primary btn-block") { @Messages("SignUp") }
                   }
               </div>
           </div>
       </div>
   </div>

}