@(currentUserOpt: Option[User], items: Seq[(Item, Option[Int])], reload: Boolean = false)(implicit messages: Messages, flash: Flash, request: RequestHeader)

@if(items.nonEmpty) {
<div class="row">
   @for(index <- items.indices) {
       @defining(items(index)){ case (item, itemCount) =>
       <div class="item">
           <div class="col-md-3 col-sm-4 col-xs-12">
               <div class="panel panel-default">
                   <div class="panel-heading text-center">
                       <img src="@item.imageUrl">
                   </div>
                   <div class="panel-body">
                           @if(item.id.isDefined) {
                               <p class="item-title"><a href="@routes.ItemsController.show(item.id.get)">@item.name</a></p>
                           } else {
                               <p class="item-title"><a href="@item.url">@item.name</a></p>
                           }
                       <div class="buttons text-center">
                       @if(currentUserOpt.isDefined) {
                           @views.html.items.buttons(index, currentUserOpt.get, item, reload)
                       }
                       </div>
                    </div>
                    @if(itemCount.isDefined) {
                    <div class="panel-footer">
                       <p class="text-center">@{index + 1}位: @itemCount</p>
                    </div>
                    }
               </div>
           </div>
       </div>
       }
   }
</div>
}