@(currentUserOpt: Option[User], items: Seq[Item])(implicit messages: Messages, flash: Flash, request: RequestHeader)

@main(Messages("Home"), currentUserOpt) {

   <div class="cover">
       <div class="cover-inner">
           <div class="cover-contents">
               <h1>素敵なモノと出会う場所</h1>
               @if(currentUserOpt.isEmpty) {
                   <a href="@routes.SignUpController.index()" class="btn btn-success btn-lg">モノリストを始める</a>
               }
           </div>
       </div>
   </div>

   <div class="container">
       @* 商品一覧を描画する *@
       @views.html.items.items(currentUserOpt, items.map((_, None)))
   </div>

}